@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #0a6699;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #bbdefb;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

.navigation a{
    color: #bbdefb;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #03a9f4;
}

section {
    padding: 150px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/Untitled\ Project.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.main h2 {
    color: #bbdefb;
    font-size: 1.5em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 2px;
    color: #1e88e5;
    font-size: 3em;
    font-weight: 600;

}

.main h3 {
    color: #bbdefb;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #000000;
    background-color: #bbdefb;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color: #1e88e5;
    transform: scale(1.1);


}

.social-icons a{
    color: #bbdefb;
    font-size: 1.7em;
    padding-right: 30px;


}

.title {
    display: flex;
    justify-content: center;
    color:  #1a237e;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards {
    background-color: #4682B4;
}
.card {
    background-color: #bbdefb;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon{
    color: #1e88e5;
    font-size: 8em;
    text-align: center; 
}
.card {
    background-color: #bbdefb;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon{
    color: #1e88e5;
    font-size: 8em;
    text-align: center; 
}

.info {
    text-align: center;
}

.info h3{
    color: #1a237e;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: #4682B4;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #bbdefb;
    border: 1px solid #1565c0;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity: 0.9;
}
.project-image img {
    width: 100%;
}

.project-info {
    padding: 1em;

}

.project-category{
    font-size: 0.8em;
    color: #000000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #0d47a1;
}

.more-details:hover {
    color: #1a237e;
}

.cardq{
    display: flex;
    justify-content: center;
    color:  #0a6699;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 40px;
}

@media (max-width : 767px ){
    .main {
        background-size: contain;
        width: 150%;
        height: 97vh;
        margin: 0;
        padding: 5px;
        text-align: inherit;
    }
    .projects {
        width: 120%;
        margin: 0 auto;
        padding: 12px;
    }
   }
body {
    padding: 0;
    margin: 0;
    width: 100%;
    background: #7babcf;
}

.cont {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #080039 ;
    left: 20%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1);
        }

    40% {
        height: 20px;
        border-radius: 50px;
        transform: scaleX(1);
    }    
    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left:auto;
    right:15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: #313039 ;
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 20%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }
    40% {
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s;
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}
@media screen and (max-width: 575px){
    :root {
        --padding:2.5rem
    }

    html{
        font-size: 8px;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-2);
        border-bottom: 1px solid var(--bgColor-1);
        z-index: 100;
    }

    nav a {
        display: none;
    }
    nav u1 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bgColor-2);
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 30px;
    }

    .container-texts {
        bottom: 0em;
    }
    .social { 
        margin-top: 30px;
    }

    h3 {
        margin-bottom: 80px;
    }
    h4 {
        margin-top: 80px;
    }

    .home{
        height: 50vh;
    }

    Services {
        background-color: var(--bgColor-2);
        padding: 4rem var(--padding);
    }

}